#backgroundDiv {
  background-image: url("src/assets/KyotoForest1.jpg");
  min-height: 100vh;
  background-size: cover;
}

#aboutMeParagraph {
  color: #00000a;
  font-weight: bolder;
  text-align: center;
  vertical-align: middle;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 10vh;
}
