<h2>TECHNICAL SKILLS</h2>
<p><span style="color: #00000a;"><strong>Languages: </strong></span><span style="color: #00000a;"></span><span style="color: #00000a;">Java, JavaScript/Typescript</span></p>
<p><span style="color: #00000a;"><strong>Frameworks: </strong></span>Spring (Boot, Batch, REST Docs, HATEOAS, Cloud), JUnit, Cloud Foundry</p>
<p><strong>Databases:</strong> DB2, MySQL, H2, MongoDB, Elasticsearch</p>
<p><strong>Operating Systems:</strong> Windows, Linux, macOS</p>
<p><strong>Tools: </strong>IntelliJ, Eclipse, Git, Bamboo, Studio 3T, Postman, Docker, ELK Stack, Maven, Jenkins</p>
<p><strong>Methodologies:</strong> Agile, Scrum, Kanban, Continuous Integration, Test Driven Development, Pair Programming, Domain Driven Design</p>
<p><strong>Testing:</strong> JUnit, Mockito</p>
<p><span style="color: #00000a;"><strong>Data:</strong></span><span style="color: #00000a;"></span> JSON, XML, YML</p>
<p><strong>Industries:</strong> Financial/Insurance, Legal</p>
<br>
<h2>PROFESSIONAL EXPERIENCE</h2>
<p><strong>OPI (Hennepin County Justice Department) &ndash; Remote &nbsp; &nbsp; 2020-2022 </strong></p>
<p><strong>Consultant/Senior Consultant</strong></p>
<ul>
  <li>Reduced dashboard load times from 30+ seconds to under 3 seconds allowing attorneys to more readily access case data in court.</li>
  <li>Created integration with suburban offices allowing attorneys to access cases owned and managed by non-Minneapolis offices.</li>
  <li>Designed and implemented a new archive process to cold-store unused court documents with complex legal retention requirements.</li>
  <li>Introduced feature to share court documents and notes between parties involved in the same case. This reduced overall storage needs and simplified the document process for users.</li>
  <li>Tools Used: Java, Spring, IBM MQ, MySQL, Jenkins, Synology, Angular</li>
</ul>
<p><strong>Principal Financial Group &ndash; Des Moines, IA &nbsp; &nbsp; 2020</strong></p>
<p><strong>Software Engineer III</strong></p>
<ul>
  <li>Engaged with Pivotal to bring modern development practices to the department. This involved the creation of a new transaction calculation product deployed on Pivotal Cloud Foundry using Java 8 with domain driven design and event-driven/microservice architecture practices.</li>
  <li>Automated the change management request system to allow for daily deployments to production. This also brought the release time of a completed feature down from 6+ hours to seconds.&nbsp;</li>
  <li>Mentored a team of interns. This involved providing guidance on test driven development and pair programming as well as technical assistance on developing cloud ready software.</li>
  <li>Tools Used: Cloud Foundry, Java, Spring, RabbitMQ, MongoDB, MySQL, DB2, Bamboo, Bash</li>
</ul>
<p><strong>Principal Financial Group &ndash; Des Moines, IA &nbsp; &nbsp; 2018 - 2020&nbsp;</strong></p>
<p><strong>Software Engineer II</strong></p>
<ul>
  <li>Introduced a DB2 data management plan using Docker which allowed for the recreation of historical marketer pay statements at will. This saved several hours of manual mainframe work each pay period.</li>
  <li>Created a proof of concept ELK Stack server via Docker which provided traceability and insight into user behavior of a web application used by external marketers. This quick experiment led the way to eventually provisioning a dedicated ELK Stack server for the department.&nbsp;</li>
  <li>Developed a modern ETL application in Spring Batch to move large amounts of DB2 data into MongoDB in a consumer-ready format.</li>
  <li>Tools Used: Java, Spring, ELK, MongoDB, DB2, Bamboo</li>
</ul>
<p><strong>Principal Financial Group &ndash; Des Moines, IA &nbsp; &nbsp; 2016 - 2018&nbsp;</strong></p>
<p><strong>Software Engineer I</strong></p>
<ul>
  <li><span style="color: #00000a;">Created a validation tool using Ruby to determine marketers who failed to receive financial statements. This allowed for proactive resolution before the marketers were aware of the issue.</span></li>
  <li><span style="color: #00000a;">Optimized a Java batch application reducing the time to generate PDF financial statements from 10+ hours to 2 hours.</span></li>
  <li><span style="color: #00000a;">Provided around the clock support for multiple pay systems based in mainframe, Informatica, and Java.</span></li>
  <li><span style="color: #00000a;">Maintained and developed additional features for a Java JSF based user interface which allowed advisors to view their compensation over time</span></li>
  <li><span style="color: #00000a;">Tools Used: Java, Ruby, DB2, Bamboo, Informatica, Z/OS, JSF</span></li>
</ul>
<br>
<h2>EDUCATION</h2>
<p><span style="color: #00000a;"><strong>Iowa State University, Ames, IA</strong></span></p>
<p><span style="color: #00000a;">Bachelor of Science &ndash; Software Engineering - 2016</span></p>
<br>
<br>
<br>
